body{
	color:					black;
	font-size: 				12px;
	font-weight: 			bold;
	font-family:			Arial, Verdana, Serif;
	text-align: 			center;
	background:				url('#{facesContext.externalContext.requestContextPath}/resources/images/bg.jpg') no-repeat;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.headerLeft {
	width: 10%;
}

.headerRight {
	width: 90%;
}

.labelField {
	font-size: 				14px;
	font-weight: 			bold;
	border: 0px solid white;
}

.textField {
	font-size: 				12px;
	font-weight: 			normal;
	border: 0px solid white;
}

.ui-panelgrid tr,
.ui-panelgrid td,
.noBorder.ui-widget-content,
.ui-layout-unit-content,
.layoutPaginaConteudo {
    background: none;
    border-style: none !important;
}

